<!DOCTYPE html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8" />
		<title>NuInputElement Demo</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/css/bootstrap.rtl.min.css" integrity="sha512-v/0rtuCuKOmpkT153wINc6H7UtLualQIhOpXdmB4Y1KtYBBtg++8UFPyYJBHLmnd2qBbrKvO+eudewymb5FW6w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="dist/main.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
		<style>
			.form-code{
				font-family: consola, monospace;
				font-size: .95rem
			}
			.tab{
				white-space: pre;
				tab-size: 8;
			}
			input[type="number"]{
				width: 4rem
			}
		</style>
		<script>
			window.addEventListener("load", function(){
				document.querySelectorAll("#form-code input").forEach(function(){
					this.addEventListener("input", function(){
						document.getElementById("result").innerText = new URLSearchParams(new FormData(document.forms[0])) + ""
					})
				})
				document.getElementById("result").innerText = new URLSearchParams(new FormData(document.forms[0])) + ""
			})
		</script>
	</head>
	<body>
		<main>
			<div ng-app="" ng-init="nuTimeHour=12;nuTimeMinute=34;nuTimeName='time';nuRangeStart='rs';nuRangeEnd='re'">
				<div class="row">
					<div class="col" class="form-code">&lt;form&gt;</div>
					<div class="col"></div>
				</div>

				<div class="row">
					<div class="col" class="form-code">
						
						&lt;nu-time-input name="<input type="text" ng-model="nuTimeName"  />" <br />
						<span class="tab">&#09;</span> value= "<input type="number" ng-model="nuTimeHour" min="0" max="23" value="0" >:<input type="number" ng-model="nuTimeMinute" min="0" max="59" value="0" >"<br />
						<span class="tab">&#09;</span> readonly <br />
						<span class="tab">&#09;</span> &gt;&lt;/nu-time-input name&gt; <br />
						
						&lt;hr /&gt; <br />
						
						&lt;nu-time-input-group start-name="<input type="text" ng-model="nuRangeStart"  />" start-value="01:23" <br/>
						<span class="tab">&#09;</span> end-name="<input type="text" ng-model="nuRangeEnd"  />" end-value="15:45"<br/>
						<span class="tab">&#09;</span> readonly <br />
						<span class="tab">&#09;</span> &gt;&lt;/nu-time-input-group&gt; <br />
					</div>
					<div class="col">
						<form>
							<nu-time-input name="{{ nuTimeName }}" value="{{ (nuTimeHour || 0) < 10? '0' + nuTimeHour: nuTimeHour }}:{{  (nuTimeMinute || 0) < 10? '0' + nuTimeMinute: nuTimeMinute }}" readonly></nu-time-input>
							<hr />
							<nu-time-input-group start-name="{{ nuRangeStart }}" start-value="01:23" end-name="{{ nuRangeEnd }}" end-value="15:45" readonly ></nu-time-input-group>
						</form>
					</div>
				</div>

				<div class="row">
					<div class="col" class="form-code">&lt;/form&gt;</div>
					<div class="col"></div>
				</div>

				<div class="row">
					<div class="col"></div>
					<div class="col">
						Form&rsquo; parameters: 
						<pre><code id="result" ></code></pre>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
